@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.display-flex{
    display: flex;
}
/* Dark03 */
.text-gray{

    color: #424242 ;
}

/* Dark03 */
.text-light-gray{
 color: #727272;
}

.text-primary{
    color: #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
}

main> section{
    margin-top: 130px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}


.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}







.navbar{
    justify-content: space-between;
    align-items: center;
}


.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */

.banner-content{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
.features{
    gap: 140px;
}
#features-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}


.feature-card .feature-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;

}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies{
    filter: grayscale(100%);
}

footer{
    margin-top: 100px;
    margin-bottom: 50px;
}
.footer1{
    text-align: center;
    background-color: #FFF4E7;
    border-radius: 8px;
    
}
.footer-padding{
    padding: 35px;
    font-size: 1.25rem;
    font-weight: 500;
}

/* responsive */
@media screen and (max-width:576px) {
    
    .navbar,
    .nav-link,
    .teams,
    .features
    {

        flex-direction: column;
    }
.team-img-container,
.fact-container,
.sponsor-companies{
    grid-template-columns: repeat(1, 1fr);
}

.sponsor-companies{
    justify-items: center;
    gap: 50px;
}
.our-features{
    margin-left: 20px;
   
}
.fact-container{
    justify-items: center;
    gap: 24px;
}
#experience-badge{
    margin-top: 20px;
    margin-left: 20px;
}
.architect img{
    width: 100%;
}


}

/* medium size  */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponsor-companies, .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
}
.architect img{
    width: 100%;
}
.figma{
    grid-column: 1 / -1;
    justify-self: center;
}
}